
.hide {
    display: none !important;
}
 
header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#left span {
    font-size: 40px !important;
    vertical-align: middle;
}

#left {
    margin: 0px;
}

header h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
    display: table-cell !important;
}

header #left>a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}


header img {
    max-height: 40px;
    vertical-align: middle; 
}

header>div {
    display: flex;
    justify-content: space-between !important;
}

#navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px; 
    float: right;
}


#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    overflow: hidden;
}

#navbar ul>li {
    white-space: nowrap;
    padding: 10px 30px 10px 0px;
}

#navbar ul>li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;

}

#navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

#navbar a:hover:before,
#navbar li:hover>a:before {
    visibility: visible;
    width: 80%;
}

#navbar a:hover,
#navbar .active,
.navbar li:hover>a {
    color: #fff;
}

#burger {
    display: none;
    margin: 15px 15px;
}

@media (max-width: 992px) {
    .aj {
        display: none;
    }
}

@media (max-width: 768px) {
    #navbar {
        display: none;
    }

    .aj {
        display: inline;
    }

    #burger {
        display: block;
    }

    #navbar {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(78, 78, 78, 0.9);
        z-index: 999;
        padding: 0px;
        margin: 0px;
    }

    #navbar ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    #navbar>ul>li {
        padding: 0;
    }

    #navbar>ul>li>a {
        padding: 10px 20px;
        font-size: 18px;
        color: #4e4e4e;
    }
 
    .nav-show, #nav_contact   {
        display: flex !important;  
    }
}

.burger_ico {
    width: 25px;
    height: 3px;
    background-color: #eee;
    margin: 6px 0;
}



#nav_contact {
    position: absolute;
    bottom: 0px;
    background-color: #0d6efd;
    width: 100%;
    padding: 5px;
    text-align: center;
    align-items: center;
    place-content: center;
}

.mobile-nav-toggle {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;
    color: white;
    transition: 0.5s;
}


